{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <link href="{% static 'globals.css' %}" rel="stylesheet" />
    <link  href="{% static 'style.css' %}" rel="stylesheet"/>
  </head>
  <body>
    <div class="element">
      <div class="div">
        <div class="overlap">
          <div class="overlap-group">
            <div class="rectangle"></div>
            <div class="group">
              <div class="overlap-2">
                <div class="text-wrapper">Телефон</div>
                <div class="text-wrapper-2">8 800 357-33-96</div>
              </div>
            </div>
            <div class="overlap-wrapper">
              <div class="overlap-2">
                <div class="text-wrapper-2">medcita@mail.mc</div>
                <div class="text-wrapper">Email</div>
              </div>
            </div>
            <div class="overlap-group-wrapper">
              <div class="overlap-3">
                <p class="text-wrapper-2">г. Москва, М. Тушинская,<br />ул. Ленина, 15</p>
                <div class="text-wrapper-3">Адрес</div>
              </div>
            </div>
            <div class="group-2">

              <div class="text-wrapper-4">Разаботали: Сиренко А.М., Мардашин Р.В.

              </div>

            </div>
          </div>
          <div class="overlap-4">
            <div class="frame-wrapper">
              <div class="frame-2">
                <div class="text-wrapper-5">ОСТАЛИСЬ ВОПРОСЫ?</div>
                <div class="frame-3">
                  <p class="p">
                    Оставьте ваши данные в форме справа, и наш специалист проведет для вас бесплатную консультацию.
                  </p>
                  <p class="text-wrapper-6">Также, полезную информацию о страховании можно найти в наших соцсетях:</p>
                </div>
              </div>
            </div>
            <div class="div-wrapper"><div class="text">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</div></div>
            <img class="img" src="{% static 'img/frame-114.svg' %}" />
            <div class="group-3">
              <div class="overlap-5"><div class="text-wrapper-7">Фамилия Имя Отчество</div></div>
            </div>
            <div class="group-4">
              <div class="overlap-5"><div class="text-wrapper-7">Номер телефона</div></div>
            </div>
            <div class="group-5">
              <div class="overlap-6"><div class="text-wrapper-7">Вопрос / комментарий</div></div>
            </div>
          </div>
          <div class="frame-4"><div class="text-2">НАВЕРХ</div></div>
          <div class="frame-5">
            <div class="text-wrapper-8">О нас</div>
            <div class="text-wrapper-8">Калькулятор</div>
            <div class="text-wrapper-8">Новости</div>
            <div class="text-wrapper-8">Заказать звонок</div>
          </div>
          <div class="group-6">
            <div class="overlap-group-2">
              <div class="text-wrapper-9">Страхования компания</div>
              <div class="frame-6">
                <p class="medicita"><span class="span">Med</span> <span class="text-wrapper-10">icita</span></p>
              </div>
            </div>
          </div>
          <div class="default-marker-wrapper">
            <img class="default-marker" src="{% static 'img/default-marker-component.svg' %}" />
          </div>
        </div>
        <div class="overlap-7">
          <div class="rectangle-2"></div>
          <div class="text-wrapper-11">КАЛЬКУЛЯТОР СТРАХОВАНИЯ</div>
          <div class="text-wrapper-11" style="padding-top: 50px">
               {% if messages %}
              {% for message in messages %}
              <p  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </>
              {% endfor %}
              {% else %}

              {% endif %}
          </div>
        {% if not messages %}  <p class="text-wrapper-12">Рассчитайте стоимость страхования перед оформлением</p>{% endif %}
          <div class="rectangle-3"></div>
          <p class="text-wrapper-13">Рассчитайте стоимость полиса на онлайн калькуляторе</p>
          <p class="text-wrapper-14">Оплатите страховку онлайн любой банковской картой</p>
          <p class="text-wrapper-15">Вышлем полис на электронную почту сразу после оплаты</p>
          <div class="text-wrapper-16">Порядок оформления полиса</div>

          <form method="post">
           {% csrf_token %}

          <div class="frame-7">

            <div class="text-wrapper-17">
              Сумма страхования
            </div>
            <div class="frame-8">

              <div class="frame-9"><label class="text-wrapper-18" for="{{ form.insurance_sum.id_for_label }}">Сумма</label></div>
              {{ form.insurance_sum }}
            </div>
          </div>
          <div class="frame-10">
            <div class="text-wrapper-17">Срок страхования</div>
            <div class="frame-8">
              <div ><label class="text-wrapper-18" for="{{ form.insurance_time.id_for_label }}">{{ form.insurance_time }}</label></div>

            </div>
          </div>

          <button class="frame-11" type="submit"><div class ="text">РАССЧИТАТЬ</div></button>

          <div class="frame-12">
            <div class="frame-13">
              {{ form.sports_check }}
              <label class="text-wrapper-17" for="{{ form.sports_check.id_for_label }}"></label>
            </div>
          </div>
          <div class="group-7">
            <div class="overlap-8">

              <label class="text-wrapper-17" for="{{ form.sport.id_for_label }}">Вид спорта</label>
              {{ form.sport }}
            </div>
          </div>
          <div class="group-8">
            <div class="overlap-group-3">
              <label class="text-wrapper-20" for="{{ form.birth_data.id_for_label }}"> Дата рождения</label>
              <div class="rectangle-6">{{ form.birth_data }}</div>
            </div>
          </div>
          <div class="frame-14">
            <div class="group-9">
              <div class="overlap-group-3">
                <div class="text-wrapper-19" for="{{ form.start_date.id_for_label }}">Дата начала</div>
                <div class="rectangle-6">{{ form.start_date }}</div>
              </div>
            </div>
            <div class="group-10">
              <div class="overlap-group-3">
                <div class="text-wrapper-21" for="{{ form.end_date.id_for_label }}">Дата окончания</div>
                <div class="rectangle-6">{{ form.end_date }}</div>
              </div>
            </div>

            {# <img class="calendar-month" src="{% static 'img/calendar-month.svg' %}" /> #}
            {#<img class="calendar-month-2" src="{% static 'img/calendar-month.svg'%}" />#}
          </div>

        {#  <img class="line" src="{% static 'img/line-1.svg' %}" /> #}
          {#<img class="calendar-month-3" src="{% static 'img/calendar-month.svg' %} " /> #}
        </div>

        </form>

        <div class="overlap-9">
          <p class="div-2">
            <span class="text-wrapper-22">Наша миссия</span>
            <span class="text-wrapper-23"> - </span>
            <span class="text-wrapper-24">защитить Ваше здоровье</span>
          </p>
          <div class="frame-15"><div class="text-3">ОФОРМИТЬ</div></div>
          <p class="text-wrapper-25">
            Круглосуточно оформляем полисы добровольного страхования жизни<br />и здоровья от несчастных случаев
          </p>
        </div>
        <img class="rectangle-7" src="{% static 'img/rectangle-53.svg' %}" />
        <img class="rectangle-8" src="{% static 'img/rectangle-54.svg' %}" />
        <img class="rectangle-9" src="{% static 'img/rectangle-72.svg' %}" />
        <p class="medcita">ПРЕИМУЩЕСТВА СТРАХОВАНИЯ ЖИЗНИ<br />И ЗДОРОВЬЯ В MEDCITA</p>
        <div class="frame-16"><div class="text">ЗАКАЗАТЬ ЗВОНОК</div></div>
        <div class="frame-17">
          <div class="text-wrapper-26">О нас</div>
          <div class="text-wrapper-26">Калькулятор</div>
          <div class="text-wrapper-26">Новости</div>
        </div>
        <div class="frame-18">
          <p class="medicita-2"><span class="span">Med</span> <span class="text-wrapper-27">icita</span></p>
        </div>
        <div class="group-11">
          <div class="overlap-10">
            <div class="rectangle-wrapper"><img class="rectangle-10" src="{% static 'img/rectangle-59.png' %}" /></div>
            <p class="text-wrapper-28">ДМС для физических лиц: смысл и преимущества</p>
            <div class="text-wrapper-29">12.10.2023</div>
          </div>
          <div class="overlap-11">
            <div class="rectangle-wrapper"><img class="rectangle-10" src="{% static 'img/rectangle-60.png' %}" /></div>
            <div class="text-wrapper-30">12.10.2023</div>
            <p class="text-wrapper-31">Почему руководителю стоить задуматься про ДМС для сотрудников</p>
          </div>
          <div class="overlap-12">
            <div class="rectangle-wrapper"><img class="rectangle-10" src="{% static 'img/rectangle-61.png' %}" /></div>
            <div class="text-wrapper-32">12.10.2023</div>
            <p class="text-wrapper-33">ДМС организаций: зачем это нужно и как работает</p>
          </div>
          <div class="overlap-13">
            <div class="rectangle-wrapper"><img class="rectangle-10" src="{% static 'img/rectangle-62.png' %}" /></div>
            <div class="text-wrapper-34">12.10.2023</div>
            <p class="text-wrapper-35">Разница в страховках: полис ДМС vs полис ОМС</p>
          </div>
          <div class="text-wrapper-36">НОВОСТИ</div>
        </div>
        <p class="text-wrapper-37">
          Выбирая медицинское страхование жизни, вы не только обеспечиваете финансовую стабильность для своих близких,
          но и получаете доступ к ряду преимуществ:
        </p>
        <div class="overlap-14">
          <div class="frame-19">
            <div class="frame-20">
              <div class="text-wrapper-38">Страхование для всей семьи</div>
              <p class="text-wrapper-39">
                Страховка для взрослых и детей. Просто укажите в полисе, кого вы хотите застраховать от несчастного
                случая
              </p>
              <div class="rectangle-11"></div>
            </div>
            <div class="frame-21">
              <div class="text-wrapper-40">Круглосуточная поддержка</div>
              <p class="text-wrapper-39">
                При наступлении страхового случая сообщите о нём в месенджерах или по телефону в любое время
              </p>
              <div class="rectangle-11"></div>
            </div>
            <div class="frame-20">
              <div class="text-wrapper-41">Своевременные выплаты</div>
              <p class="text-wrapper-39">
                Выплаты осуществляются в течение 5 рабочих дней после принятия решения по страховому случаю
              </p>
              <div class="rectangle-11"></div>
            </div>
          </div>
          <img class="hours" src="{% static 'img/hours-24.svg' %}" />
          <img class="human-male-female" src="{% static 'img/human-male-female-child.svg'%}" />
          <img class="cash-clock" src="{% static 'img/cash-clock.svg'%}" />
        </div>
      </div>
    </div>
  </body>
</html>
